

<h1><%= "#{@current.title}" %></h1> <h2> <%= "#{@current.author}" %> </h2>
<h3><%= "#{@current.ranked}" %></h3>
<p>
  <%= "#{@current.description}" %>
</p>

<%= button_to "Upvote", {action: "upvote", id: @current.id}, {:method => :patch} %>
