

<h1><%= "#{@current.title}" %> <small> <%= "#{@current.author}" %> </small> </h1>
<h3><%= "#{@current.ranked}" %></h3>
<p>
  <%= "#{@current.description}" %>
</p>

<%= button_to "Upvote", {action: "upvote", id: @current.id}, {:method => :patch} %>
